.venv/
__pycache__/
*.py[cod]
*.log

.env
quiz_poster_bot/.env
quiz_poster_bot/channel_selections.json
quiz_poster_bot/scheduled_quizzes.json
quiz_poster_bot/saved_quizzes.json

.railway/
.idea/
.vscode/
